@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #171717;

  --bg-header: #ffffff00;
  /* Tema neutro */
  --bg-primary-n: #222222; /* Cinza bem escuro */
  --bg-secondary-n: #444444; /* Cinza médio */
  --color-text-n: #f0f0f0; /* Cinza quase branco */
  --color-text-secondary: #aaaaaa; /* Cinza neutro */
  /* Tema escuro */
  --bg-primary: #000000; /* Preto puro */
  --bg-secondary: #1a1a1a; /* Preto levemente suavizado */
  --color-text: #ffffff; /* Branco puro */
  --color-text-secondary: #cccccc; /* Cinza claro */

  /* Tema claro */
  --bg-primary-c: #ffffff; /* Branco puro */
  --bg-secondary-c: #f5f5f5; /* Cinza muito claro */
  --color-text-c: #ffffff; /* Cinza escuro */
  --color-text-secondary-c: #666666; /* Cinza médio */
  --primary-c-0-1: #c4f58c;
  --primary-c-0-2: #a8f05b;
  --primary-c-0-3: #80c52c;
  --primary-c-1: #8BC34A; 
  --primary-c-2: #81cb13;
  --primary-c-3: #305800;
  --primary-c-4: #1b2f02;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

@media screen and (max-width: 1568px) {
    .main-content {
        flex-flow: row;
        justify-content: center;
        gap: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .area-content-scene3D {
        width: 100%;
        order:initial;
        height: auto;
    }
    .areaContentRedeSocial {
        order: 1;
        position: absolute;
        inset: 20rem 0 0 1rem;
        display: flex;
    }
    .area-content-emphasis {
      order: 2;
    }
}

@media screen and (max-width: 1024px) {
    .areaContentRedeSocial {
        inset: 10rem 0 0 3rem;
    }
}

@media screen and (max-width: 480px) {
    .areaContentRedeSocial {
        inset: 9rem 0 0 2rem;
        z-index: 0;
    }
    .main-content {
        gap: 0;
    }
    .area-content-emphasis {
        padding: 1rem;
    }

}

@media screen and (max-width: 420px) {
  .main-content {
        gap: 8rem;
  }
}

.area-content-scene3D {
  display: flex;
  order: 1;
}

.area-content-emphasis {
  color: var(--foreground);
  margin: 0 auto;;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
}

.area-content-aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
}
