@import "tailwindcss";

:root {
  --background: #424242;
  --foreground: #171717;

  --bg-header: #ffffff00;
  --color-header: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #060505;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

@media screen and (max-width: 1568px) {
    main {
        flex-flow: row;
        justify-content: center;
        gap: 2rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;
    }
    .area-content-scene3D {
        width: 100%;
        order:initial;
        height: auto;
    }
    .areaContentRedeSocial {
        order: 1;
        position: absolute;
        inset: 20rem 0 0 1rem;
        display: flex;
    }
    .area-content-emphasis {
      order: 2;
    }
}

@media screen and (max-width: 1024px) {
    .areaContentRedeSocial {
        inset: 17rem 0 0 3rem;
    }
}

@media screen and (max-width: 480px) {
    .areaContentRedeSocial {
        inset: 10rem 0 0 2rem;
        z-index: 0;
    }
    main {
        gap: .1rem;
    }
}

.area-content-scene3D {
  display: flex;
  order: 1;
}

.area-content-emphasis {
  background: var(--background);
  color: var(--foreground);
  margin: 0 auto;;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
}