.logo {
    padding: .2rem .4rem;
    padding-left: 1rem;
    width: 110;
    height: 100;
    vertical-align: middle; 
}

/* Estilos para os paths com classe path-1 -> FUNDO das CHAVES */
.path1 {
  fill: transparent;
}

/* Estilos para os paths com classe path-2 e path-3 CHAVES '{ }' */

.path3 {
  stroke: var(--logo-stroke-secondary);
  fill: transparent;
  transform: scale(1, .9) translateY(1px);
}

@media screen and (max-width: 480px) {
    .logo {
        color: var(--logo-gradient-stop1);
        margin-top: 2rem;
        max-width: 100%;
        height: auto;
    }
}