.aboutMeContainer {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    color: var(--color-text);
}

.aboutContentText {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    justify-content: center;
    align-items: center;
    gap: .5rem;
    align-items: center;   
    width: 100%;
}

.aboutContentImage {
    margin-top: 10rem;
    grid-area: 1 / 1 / 3;
    font-size: 1.1rem;
    line-height: 1.6;
}

.aboutContentDescription {
    grid-area: 1 / 2 /3;
    font-size: 1.1rem;
    line-height: 1.6;
}

.aboutContentStatis {
    margin-top: 25rem;
    grid-area: 2 /2 / 2;
    display: flex;
    gap: 2rem;
}
.aboutContentButton {
    grid-area: 3/ 2 / 3;
}

@media screen and (max-width: 1700px) {

    .aboutMeContainer {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .aboutContentText {
        display: grid;
        grid-template-columns: 1fr 1fr; 
        justify-content: center;
        gap: 1rem;
        align-items: center;   
        width: 100%;
    }
    .aboutContentDescription {
        grid-area: 1 / 2 /3;
        text-align: center;
    }
    .aboutContentStatis {
        grid-area: 3 /1 / 3;
        text-align: center;
        margin-top: 1rem;
        width: 90%;
        height: 150px;
    }
    .aboutContentButton {
        grid-area: 2/ 2 / 3;
        text-align: center;
        margin-top: .6rem;
    }
    .aboutContentImage {
         margin-top: 5rem;
        grid-area: 1 / 1 /3;
        max-width: 90%;
    }
    
} 

@media screen and (max-width: 1200px) {

    .aboutContentText {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .aboutContentDescription {
        order: 2;
        width: 70%
    }
    .aboutContentStatis {
        order: 3;
        width: 90%;
    }
    .aboutContentButton {
        order: 4;
        margin-top: 1.5rem;
    }
    .aboutContentImage {
        order: 1;
        margin-bottom: 1.2rem;
        width: 65%;
    }
}

@media screen and (max-width: 768px) {

    .aboutContentDescription {
        width: 60%;
        font-size: 1rem;
    }
    .aboutContentImage {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    } 
}

@media screen and (max-width: 480px) {

    .title {
        font-size: 1.6rem !important;
    }
    .aboutContentDescription {
        width: 80%;
    }
    .aboutContentButton {
        width: 100%;
    }
    .aboutContentImage {
        width: 100%;
    } 
}