.profile {
  width: 100%;
  height: auto;
  object-fit: cover;
  /*box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);*/
}

.areaContainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    inset: -11rem 0 0 -13rem;
    width: 832px;
    height: 600px;
    margin: 0px auto;
    background-color: transparent;
    transform-style: preserve-3d;
    overflow: visible;
    perspective: 400px;
}

.logo {
    width: 40;
}

@media screen and (max-width:1568px) {

  .areaContainer {
    inset: -7rem 0 0 -13rem;
    width: 900px;
  }
}

@media screen and (max-width:1024px) {
  .areaContainer { 
    inset: -2rem 0 0 -7rem;
    perspective: inherit;
  }
}  

@media screen and (max-width:1000px) {
  .areaContainer { 
    width: 600px;
	height: 40vh;
  }
  
  .logoContainer {     
    left: 73% !important;
  }
}

@media screen and (max-width:900px) {
  .areaContainer { 
    inset: -4rem 0 0 -5rem;
    width: 100%;
  }

  .logoContainer {     
    width: 500px;
    height: 0;
  }

  .logo {
    width: 50%;

  }
}

@media screen and (max-width:480px) {
  .areaContainer { 
    inset: -2rem 0 0 -5rem;
    perspective-origin: left; /*  TESTAR -- CENTER lm */
    height: 25rem;
  }
  .logoContainer {  
    position: absolute;
    width: 30%;
    height: auto;
  }

  .areaRedesocial {
    inset: 6rem 0 0 -6rem;
  }

  .logo {
    width: 40%;
    height: 100%;
  }
}

@media screen and (max-width:420px) {

  .areaContainer { 
    inset: 1rem 0 0 -4rem;
    max-width: 100%;
    height: 12rem;
    perspective-origin: left;
  }
  .areaRedesocial {
    inset: 6rem 0 0 -8rem;
  }
  .logo {
    max-width: 100%;
  }
}

@media screen and (max-width:390px) {
  .areaContainer { 
    max-width: 95%;
  }
}
@media screen and (max-width:375px) {
  .areaContainer { 
    max-width: 100%;
  }
}



@media screen and (max-width:360px) {
  .areaContainer { 
    max-width: 77%;
  }
}

@media screen and (max-width:320px) {
  .areaContainer { 
    max-width: 70%;
  }
}