.logo {
    padding: .2rem .4rem;
    padding-left: 1rem;
    width: 110;
    height: 100;
    vertical-align: middle; 
}

@media screen and (max-width: 480px) {
    .logo {
        margin-top: 2rem;
        max-width: 100%;
        height: auto;
    }
}