.contentIcon {
  display: flex;
  margin:  0 0 10%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


@media screen and (max-width: 600px) {
  .Icon {
    max-width: 80%;
  }
  
}