@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&display=swap');




.CodeContainer {
    margin: 0 auto;
    width: max-content;
    height: auto;
    font-family: 'Fira Code', monospace;
    color: #d1d5db;
    line-height: 1.5;
    border-radius: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: pre;
}

.Comment { color: #6b7280; }
.Keyword { color: #ff4824; }
.Function { color: #60a5fa; }
.String { color: #facc15; }
.Prop { color: #a78bfa; }
.Component { color: #03ffc8; }

.CodeCardWrapper {
    position: relative;
    width: 90%; /* Garante que o card ocupe 90% da largura da tela */
    height: auto;
    max-width: 1000px; /* Impede que ele fique grande demais em telas largas */
    aspect-ratio: 16 / 9; /* Mantém a proporção de uma tela widescreen */
    display: flex; /* Habilita o Flexbox */
    flex-direction: row;
    border-radius: 2rem;
    overflow: hidden;
     /*z-index: 10;
   box-shadow: rgba(7, 255, 3, 0.243) -2px -20px 20px 5px, rgba(2, 255, 120, 0.302) 2px 20px 20px 5px;*/
}

.CircularShadow {
    position: absolute;/* Centraliza a sombra atrás do card */
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    
    width: 100%; /* Ajuste o tamanho do círculo da sombra */
    height: auto;
    border-radius: 50%; /* Faz com que o elemento seja um círculo */
    z-index: -1; /* Coloca a sombra atrás do card */
    
    /* A sombra que você forneceu */
}

/* Garante que os gradientes fiquem atrás do conteúdo principal */
.GradientSpot,
.GradientSpot1,
.GradientSpot2 {
    position: absolute;
    filter: blur(80px);
    opacity: 0.6;
    z-index: -1000;
}

.GradientSpot1 {

    width: 100%;

    height: 400px;

    top: 0%;

    left: 0%;

    background: radial-gradient(circle, rgb(41, 255, 3), transparent 80%);

}

/* Seções interna para o código e para os anéis. */
.ContentSection {

    flex: 1; /* Permite que cada seção ocupe metade do espaço */
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
    padding: 5rem;
}

/* O conteúdo de código. Use unidades fluidas para a fonte. */
.CodeContainer {
    font-size: clamp(0.75rem, 1.2vw, .7rem); /* Fonte fluida */
    line-height: 1.2;
    color: #d1d5db;
    overflow-x: auto;
    white-space: pre;
    max-width: 100%; /* Garante que o conteúdo não ultrapasse o contêiner */
    height: auto;
}

/* Media Queries para telas pequenas */
@media (max-width: 1024px) {
    .CodeCardWrapper {
        width:  100%;
        flex-direction: column; /* Empilha os elementos verticalmente */
        aspect-ratio: unset; /* Desativa a proporção fixa para o layout de coluna */
        height: auto; /* Permite que a altura se ajuste ao conteúdo */
    }

    .ContentSection {
        padding: 1.5rem 1rem .5rem 1.2rem;
    }
}

@media (max-width: 768px) {
    
    .CodeCardWrapper {
        width: 90%; /* Garante que o card ocupe 100% da largura da tela */
        flex-direction: column; /* Empilha os elementos verticalmente */
        aspect-ratio: 16 / 16; /* Desativa a proporção fixa para o layout de coluna */
        height: 20%; /* Permite que a altura se ajuste ao conteúdo */
    }
    .ContentSection {
        width: 100%;
        height: 97%;

    }
    .CodeContainer {
        line-height: 1.4;
        width: 100%; /* Garante que o conteúdo ocupe toda a largura disponível */
        font-size: clamp(0.6rem, 1.5vw, 0.7rem); /* Ajusta o tamanho da fonte para telas muito pequenas */
    }
}