.footerText	{
    font-size: 0.890rem;
    color: var(--color-text-secondary);
    text-align: center;     
    margin: 0;
    margin-right: 1rem;
    padding: 1rem 0;
}

.footerTextContainer {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footerTextContainer::after {
    position: absolute;
    inset:  0 0 0;
    margin: 0 auto;
    content: '';
    display: block;
    clear: both;
    width: 100%;
    height: .005rem;
    background: rgba(245, 245, 245, 0.27);
}

.footer	{
    padding: 1rem 3rem;
    padding-bottom: 2rem;
    width: 100%;
    height: 240px;
    background: linear-gradient(90deg, rgb(23, 23, 23) 0%, rgb(10, 10, 10) 100%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.socialLinks {
    display: flex !important;
    color: var(--color-text-secondary);
    font-size: .5rem !important;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        height: auto;
        padding: 2rem 1rem;
        gap: 1rem;
    }

    .footerTextContainer::after {
        height: .090rem;
    }

    .footer > .footerText {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 428px) {
    .footer {
        height: auto;
        padding: 2rem 1rem;
        gap: 1rem;
    }
    .footerTextContainer::after {
        height: .049rem;
    }
    .footer > .footerText {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footerText {
        font-size: 0.75rem;
    }
}