.differentialContainer {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: stretch;
    max-width: 60%;
    gap: 2rem;
}

.differentialItem {
    background: linear-gradient(90deg, rgb(23, 23, 23) 0%, rgba(3, 3, 3, 0.992) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    padding: 1.5rem;
    border-radius: 8px;
    color: white;
    box-shadow: 0 0 5px 3px rgba(191, 255, 113, 0.9);  
    transition: 
        background 0.6s ease,
        box-shadow 0.6s ease,
        transform 0.3s ease;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.differentialItem:hover {
    /*background: linear-gradient(135deg, #030202, #000000, #0a0a0a, #222222, #0a0a0a);*/

    background-size: 300% 300%;
    animation: moveGradient 3s ease infinite;
    transform: translateY(-5px);
}
@keyframes moveGradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.differentialIcon {
    transition: transform 0.3s ease;
    filter: drop-shadow(0 0 5px rgba(128, 197, 44, 0.896));
}
.differentialIcon:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    color: gradient(90deg, var(--primary-c-0-4), var(--primary-c-0-2));
    filter: drop-shadow(0 0 5px var(--primary-c-0-4));

}
.differentialTitle {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'var(--font-title)';
    margin-bottom: 0.5rem;
}

.differentialSubTitle {
    font-weight: 600;
    /* Corrigido de "semi-bold" (valor inválido) */
    margin-bottom: 1rem;
}

.differentialSubTitle strong {
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.differentialDetail {
    color: var(--bg-secondary-n);
    font-size: 3.5rem;
}

.differentialDescription {
    margin: 0 auto;
    text-align: left;
    width: 100%;
    font-size: 1rem;
    line-height: 1.5;
}

.differentialDescription span {
    margin: 0 auto;
    margin-top: .8rem;
    display: flex;
    gap: .5rem;

}

.differentialInfo {
    width: 92%;
}

.differentialInfoEmphasis {
    width: 100%;
}

@media (max-width: 1024px) {
    .differentialContainer {
        grid-template-columns: 1fr;
        /* Muda para uma coluna */
        max-width: 90%;
        /* Ajusta a largura máxima */
    }
}

@media screen and (max-width: 480px) {
    
    .differentialIcon {
        size: 10rem;
    }

    .differentialDescription {
        margin-top: .5rem;
    }

    .differentialSubTitle strong {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        gap: .8rem;
    }
    .differentialInfo {
        padding:  0 0 0 2rem; 
        width: 100%;
        font-size: .8rem;
    }

    .differentialInfoEmphasis {
        width: 100%;
        font-size: .8rem;
    }

}