.ContainerMouseRole {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .5 rem;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.ContainerMouseRole:hover {
  transform: translateY(3px);
}

.mouseIcon {
  color: var(--primary-c-3);
  animation: bounceMouse 2s infinite;
  cursor: pointer;
}

.arrowIcon {
  color: var(--primary-c-2);
  animation: bounceArrow 1.5s infinite;
}

.text {
  font-size: 0.8rem;
  opacity: 0.8;
  animation: fadeText 3s infinite;
}

@keyframes bounceArrow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(8px);
  }
}

@keyframes bounceMouse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(4px);
  }
}

@keyframes fadeText {
  0%, 100% {
    opacity: 0.7;
  }
  50% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, 10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}
