.areaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.titleDetail {
  color: #7ba93e;
}

@media screen and (max-width: 480px) {
  .title{
    font-size: 2rem !important;
  }
  .titleSubtitle {
    font-size: 1.5rem !important;
  }
}