.areaContainer {
  color: var(--color-text);

}

.titleDetail {
  color: #a5fe31;
}

.titleSubtitle {
  flex-wrap: wrap;
  padding-bottom: .8rem;
}

@media screen and (max-width: 480px) {
  .title{
    font-size: 2rem !important;
  }
  .titleSubtitle {
    font-size: 1.5rem !important;
  }
}


@media screen and (max-width: 390px) {
  .titleSubtitle {
    font-size: 1.3rem !important;
  }
}
